doctype html
html
	head
		title= 'S H T A B I - ' + hall + ' - H A L L'
		meta(charset='utf-8')
		meta(name='viewport', content='height=device-height, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, target-densitydpi=device-dpi')
		link(rel='stylesheet', type='text/css', href='../css/main.css')
		link(rel='stylesheet', type='text/css', href='../css/swiper.min.css')
		script(type='text/javascript', src='../js/jquery-3.3.1.min.js')
		script(type='text/javascript', src='../js/swiper.min.js')
		script(type='text/javascript', src='../js/main.js')
	body
		.banner-block
			.banner-section.left
				.banner-button.down.complex
			.banner-section.main
				.banner-section.center
					.banner-button.left.slide_left
					.banner-button.right.slide_right
				.banner-section.right
					.banner-button.up.scroll

		.navigate-blocks
			each block, i in blocks
				.navigate-block(class= (i==0) ? 'active' : ''): span= block.title

		.swiper-container.swiper-container-v: .swiper-wrapper
			each block in blocks
				.swiper-slide
					.swiper-container.swiper-container-h: .swiper-wrapper
						each elem in block.elems
							- var path = elem.path
							if (!/.jpg|.JPG|.jpeg|.tiff|.tif/g.test(path))
								- path = path + '.jpg'
							else
								- path = path.replace(/.tiff|.tif|.jpeg/g, '.jpg')
							.swiper-slide
								- var hall_path = (base_path == 'main') ? (hall + '/') : ''
								//- .slide-image(style="background-image: url('../../img/" + base_path + '/' + hall_path + path + "')")
								.slide-image.swiper-lazy(data-background='../../img/' + base_path + '/' + hall_path + encodeURIComponent(path).replace(/%D0%B9/g, '%D0%B8%CC%86'))

					.desk-block
						.description-block
							.description-content
								h1 Артур Аристакисян (1961 г. р.) за более чем полвека жизни снял всего два фильма. Но уже сейчас можно с уверенностью предсказать, что тихой хипповской кометой он засветится как в учебниках по кинематографии, так и в многочисленных копиях фильмов на торрентах и в социальных сетях.
								p Будучи абсолютным инди, Аристакисян прорвался в такое трансгрессивное трансцендентное, что реакцией зрителя на его фильмы может быть только – озноб.
								p В девяностые, когда я учился в университете, Москва бурлила: направляясь на занятия по Моховой, часто видел идущего с Арбата Лимонова с его молоденькой спутницей, а по дороге с факультета на Арбат – в «Мелодию» или многочисленные «комки» с кассетами – встречал Аристакисяна в неизменной джинсе, с хайратником на длинных волосах. Лимонова сейчас встретишь с телохранителями, и чаще на авто. Аристакисян – все такой же.
								p Даже на фоне самого жесткого кино – Пазолини («Сало», «Свинарник»), «Порожденного» Э. Элиаса Мэриджа и фильмов Ким Ки Дука – некоторые кадры Аристакисяна визуально невыносимы, физически мучительны. И дело даже не в банальной жестокости – самооскопление, задавленный ребенок, резаные вены в «Месте на земле». Люди, почти полностью опустившиеся, опухшие, заживо разлагающиеся в «Ладонях». А – в кадрах, сценах: беспрепятственно ползающие по лицу идиота мухи, плач цыганки на похоронах нищего в «Ладонях», поцелуй двух бродяг на заплеванном асфальте под ногами равнодушных в «Месте».
								p Интересно, при всей независимости от общественных конвенций режиссер не прибегает к теме секса, вроде бы мощному визуальному и – вспомним идеологию того же «лета любви» – идеологическому раздражителю. И без него он делает фильмы, требующие от зрителя не меньшей, возможно, работы по восприятию фильма, чем над его созданием. Бунюэль и Дали в «Андалузском псе» резали в кадре глаз – с тех пор глаз зрителя все равно замылился; киносоздателю через зрачок, как Алисе в колодец, не упасть в душу, на дверях восприятия – амбарный замок.
								p Аристакисян отказывается и от цвета, игры изобразительных средств. Отказ, как мы увидим (точнее – не увидим), вообще принципиально важное для него художественное средство. Мы не увидим цвета, игры со спектром. Аристакисян более скуп, чем Филонов, полностью монохромен. А иногда (в «Ладонях») изображение гаснет, полностью чернеет, становясь черным прямоугольником.
							.description-end Удерживать кнопку для возврата в начало


						.labels-block
							each elem, i in block.elems
								.label-item(class= (i==0) ? 'active' : '')
									.label.title= elem.title
									.label.description= elem.description
									.label.museum= elem.museum
									.label.year-place= elem.year_place